DATABASE_URL=
DIRECT_URL=
JWT_SECRET=
ACCESS_TOKEN_EXPIRED="access token expired. example : 10m"
REFRESH_TOKEN_EXPIRED="refresh token expired. example: 10d"
MAX_ATTEMPTS="max attemps can trying to login if wrong credentials. example: 5"
LOCK_TIME="how much lock time after fail login. example: 15m"
SUPABASE_URL=
SUPABASE_ANON_KEY="add service role Key or Anon Key"
